header{
    width: 100%;
    padding: 28px 8%;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: black;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a{
    text-decoration: none;
    color: #1d1d1dae;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d1dad;
    border-bottom: 3px solid #ffe100;
}

#mobile_btn{
    display:  none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1170px) {
   #nav_list,
   #navbar .btn-default {
    display: none;
   }
   
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1.5rem;
    }
    
#mobile_menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mob_nav_list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 12px 0px ;
}

#mob_nav_list .nav-item{
    list-style: none;
    text-align: center;
    
}
}
    
